<section class="container header">
  <div class="search">

    <input type="search" class="search__input" placeholder=" ">
    <label for="name" class="search__label">
      <span class="material-icons-outlined">
        search
      </span>
      Search
    </label>
  </div>
  <div class="controls">
    <div class="controls-item">
      <a href="">
        <span class="material-icons-outlined">
          account_circle
        </span>
      </a>
    </div>
    <div class="controls-item">
      <a href="">
        <span class="material-icons-outlined">
          settings
        </span>
      </a>
    </div>
  </div>
</section>
