<section class="container header">

  <div class="search">

    <input type="search" class="search__input" placeholder=" " (keyup.enter)="onSearch($event)">
    <label for="name" class="search__label">
      <span class="material-icons-outlined">
        search
      </span>
      Search
    </label>
  </div>
  <div class="controls">
    <div class="controls-item">
      <a>
        <span class="material-icons-outlined" *ngIf="!currentUser; else logouts" (click)="login()">
          account_circle
        </span>

        <ng-template #logouts>
          <!-- <span class="material-icons-outlined" >
            logout
         </span> -->
          <a [routerLink]="['profile']">
            <img [src]="currentUser?.photoURL" [alt]="currentUser?.displayName"
              style="clip-path: circle();width: 50px;">
          </a>

        </ng-template>

      </a>
    </div>
    <div class="controls-item">
      <a href="">
        <span class="material-icons-outlined">
          settings
        </span>
      </a>
    </div>
  </div>
</section>
