<section class="container">
  <div class="banner">
    <img class="banner__image"
      src="https://thumbs.dreamstime.com/b/music-banner-mobile-smartphone-screen-music-application-sound-headphones-audio-voice-radio-beats-black-music-banner-221042724.jpg"
      alt=""
      style="width: 100%;height: 400px;"
      >
  </div>

  <div class="category">
      <app-carousel [flexValue]="'20%'" [list]="dataList[0]"  [type]="'type'"></app-carousel>
      <app-carousel [flexValue]="'25%'" [list]="dataList[1]" [type]="'type'"></app-carousel>
  </div>
</section>


