
<section class="carousel"   >
    <div class="carousel__inner">
        <h3 class="carousel__inner-heading">{{title}}</h3>
        <ng-template [ngIf]="totalClick > 1">
            <div class="moving">
                <button class="moving__prev" (click) ="onPrev()">
                    <ng-template [ngIf]="!isCheckPrev">
                        <span class="material-icons-outlined" >
                            arrow_back_ios
                        </span>
                    </ng-template>
                </button>
                <button class="moving__next" (click) ="onNext()">
                    <ng-template [ngIf]="!isCheckNext">
                        <span class="material-icons-outlined" >
                            arrow_forward_ios
                        </span>
                    </ng-template>
                </button>
            </div>
        </ng-template>

    </div>

    
    <div #album class="carousel__albums">
        <div class="carousel__albums-item" 
            [style.flexBasis]="flexValue" 
            #item  
            *ngFor="let  item of list" [ngStyle]="shape" 
            (click)="onChooseAlbum(item)"
            >
            <div class="carousel__albums-item--image" style="background-image: url({{item.image}});cursor: pointer;" >
                <div class="carousel__albums-item--image---icon">
                    <span class="material-icons-sharp" >
                        play_arrow
                    </span>     
                </div>
            </div>
            <h4 class="carousel__albums-item--name" style="text-transform: capitalize">{{item.title ? item.title: item.name}}</h4>
            <ng-template [ngIf]= "type.nameArtist">
                <p class="carousel__albums-item--artist">{{item.nameArtist}}</p>
            </ng-template>
        </div>
    </div>
</section>
<!-- [routerLink]="['/category', type.id]" -->

<router-outlet>