

<section class="container-fluid-xl" style="height: 100%;background-color: black;"> 
    
    <div class="sidebar" style="background-color: #292929;">
      <app-sidebar></app-sidebar>
    </div>
    <div class="main" style="background-color: #1e1e1e;">
            <ng-container class="container header" >
                <app-header></app-header>
            </ng-container>

        <router-outlet></router-outlet>
    </div>
    <div class="footer" >
        <app-footer></app-footer>
    </div>
</section>

