<section class="container sidebar">
  <div class="box">
    <div class="logo">
      <span class="material-icons-outlined logo__icon">
        album
      </span>
      <h1 class="logo__heading"><a>Beats Army</a></h1>
    </div>

    <div class="navigation">
      <div class="navigation__inner">
        <h2 class="navigation__inner-heading">DANH MỤC</h2>
        <ul class="navigation__inner-group">
          <li class="navigation__inner-group--item " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
           >
            <span class="material-icons-outlined">
              home
            </span>
            <a class="navigation_item-link"  [routerLink]="['home']">Trang chủ</a>

          </li>
          <li class="navigation__inner-group--item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
            >
            <span class="material-icons-outlined">
              library_music
            </span>
            <a class="navigation_item-link" [routerLink]="['category']">Thể Loại</a>

          </li>
          <li class="navigation__inner-group--item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
         >
            <span class="material-icons-outlined">
              person_outline
            </span>
            <a class="navigation_item-link"  [routerLink]="['artist']">Nhạc Sĩ</a>
          </li>
          <li class="navigation__inner-group--item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
         >
            <span class="material-icons-outlined">
              show_chart
            </span>
            <a class="navigation_item-link"  [routerLink]="['bangxephang']">Bảng Xếp Hạng</a>
          </li>
        </ul>
      </div>
      <div class="navigation__inner">
        <h2 class="navigation__inner-heading">THƯ VIỆN</h2>
        <ul class="navigation__inner-group">
          <li class="navigation__inner-group--item">
            <span class="material-icons-outlined">
              explore
            </span>
            <a class="navigation_item-link">Gần đây</a>
          </li>
          <li class="navigation__inner-group--item">
            <span class="material-icons-outlined">
              favorite_border
            </span>
            <a class="navigation_item-link" [routerLink]="['profile/mySong']">Yêu thích</a>
          </li>
          <li class="navigation__inner-group--item">
            <span class="material-icons-outlined">
              folder
            </span>
            <a class="navigation_item-link"  [routerLink]="['profile/myplaylist']">PlayList</a>
          </li>
        </ul>
      </div>
      <div class="navigation__inner">
        <h2 class="navigation__inner-heading">PLAYLIST</h2>
        <ul class="navigation__inner-group">
          <li class="navigation__inner-group--item">
            <span class="material-icons-outlined">
              create_new_folder
            </span>
            <a class="navigation_item-link" (click)="onCreatePlayList()">Tạo playlist mới</a>
          </li>
        </ul>
      </div>
    </div>

  </div>


</section>
