<section class="list">
  <div class="list__inner">
    <div class="list__inner-item" *ngFor="let song of listSong">
      <span class="list__inner-item--pos">1</span>
      <div class="list__inner-item--box">
        <div class="list__inner-item--box---image"
          style="background-image:url({{song.image}}) ;">
        </div>
        <div class="list__inner-item--box---info">
          <p class="list__inner-item--box---info----name"><strong>{{song.name}}</strong></p>
          <p class="list__inner-item--box---info----artist" ><a [routerLink]="['/infoArtist', song.artistID]">{{song.nameArtist}}</a></p>
        </div>

      </div>
      <span class="list__inner-item--duration">05:21</span>
      <div class="list__inner-item--controls">
        <div class="list__inner-item--controls---hearts">
          <span class="material-icons-outlined">
            favorite_border
          </span>
        </div>
        <div class="list__inner-item--controls---more">
          <span class="material-icons-outlined">
            more_horiz
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
